<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css2/indexstyle.css">
<body>
    <div id = "web">website</div>
  <div id ="navbar">
        {{request.path}}
        <a id ="button1" href="{% url 'index' %}">Home</a>
        <!--<a id ="button2" href="About.html">About</a>-->
        <a id="profilebutton" href="{% url 'signinn' %}">Login</a>  
  </div>
 <p>
    {{n}}
 </p>
</body>
</html>