<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>MEDICURE</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free HTML Templates" name="keywords" />
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="/static/img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link
      href="/static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet" />

    <!-- appointment -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </head>

  <body>
    <!-- Topbar Start -->
    <div class="container-fluid py-2 border-bottom d-none d-lg-block">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center">
              <a class="text-decoration-none text-body pe-3" href=""
                ><i class="bi bi-telephone me-2"></i>+91 9123456789</a
              >
              <span class="text-body">|</span>
              <a class="text-decoration-none text-body px-3" href=""
                ><i class="bi bi-envelope me-2"></i>info@example.com</a
              >
            </div>
          </div>
          <div class="col-md-6 text-center text-lg-end">
            <div class="d-inline-flex align-items-center">
              <a class="text-body px-2" href="">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="text-body px-2" href="">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="text-body px-2" href="">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a class="text-body px-2" href="">
                <i class="fab fa-instagram"></i>
              </a>
              <a class="text-body ps-2" href="">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid sticky-top bg-white shadow-sm">
      <div class="container">
          <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">

              <a href="index.html" class="navbar-brand">
                  <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-clinic-medical me-2"></i>Medicure</h1>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                  <div class="navbar-nav ms-auto py-0">
                      <a href="{% url 'indexpatient' %}" class="nav-item nav-link">Home</a>
                      <a href="{% url 'pabout' %}" class="nav-item nav-link">About</a>
                      <a href="{% url 'pservice' %}" class="nav-item nav-link">Service</a>
                      <a href="{% url 'pdoctors' %}" class="nav-item nav-link">Doctors</a>
                      <div class="nav-item dropdown">
                        <a href="#" class="nav-link active dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="{% url 'pappointment' %}" class="dropdown-item">Appointment</a>
                            <a href="{% url 'psearch' %}" class="dropdown-item">Search</a>
                        </div>
                    </div>
                      <a href="{% url 'pcontact' %}" class="nav-item nav-link">Contact</a>
                      <img src="/static/img/user1.png" class="user-pic" onclick="toggleMenu()" />
                      <div class="sub-menu-wrap" id="subMenu">
                          <div class="sub-menu">
                              <div class="user-info">
                                  <img src="/static/img/user1.png" />
                                  <h3>{{nn}}</h3>
                              </div>
                              <hr />
                              <a href="{% url 'indexpatient' %}" class="sub-menu-link">
                                <img src="/static/img/dashboard.png" />
                                <p>DASHBOARD</p>
                                <span></span>
                            </a>
                            <a href="{% url 'peditprofile' %}" class="sub-menu-link">
                                <img src="/static/img/profile.png" />
                                <p>Edit Profile</p>
                                <span></span>
                            </a>
                              <a href="{% url 'phelpandsupport' %}" class="sub-menu-link">
                                  <img src="/static/img/help.png" />
                                  <p>Help & Support</p>
                                  <span></span>
                              </a>
                              <a href="{% url 'plogout' %}" class="sub-menu-link">
                                  <img src="/static/img/logout.png" />
                                  <p>Logout</p>
                                  <span></span>
                              </a>
                          </div>
                      </div>
                      <script>
                          let subMenu = document.getElementById("subMenu");
                          function toggleMenu() {
                              subMenu.classList.toggle("open-menu");
                          }
                      </script>

                  </div>
              </div>
          </nav>
      </div>
  </div>
    <!-- Navbar End -->

    <!-- Appointment Start -->
    <!-- <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Appointment</h5>
                        <h1 class="display-4">Make An Appointment For Your Family</h1>
                    </div>
                    <p class="mb-5"></p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 me-3" href="">Find Doctor</a>
                    <a class="btn btn-outline-primary rounded-pill py-3 px-5" href="">Read More</a>
                </div>
                <div class="col-lg-6">
                    <div class="bg-light text-center rounded p-5">
                        <h1 class="mb-4">Book An Appointment</h1>
                        <form>
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-white border-0" style="height: 55px;">
                                        <option selected>Choose Department</option>
                                        <option value="1">Department 1</option>
                                        <option value="2">Department 2</option>
                                        <option value="3">Department 3</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-white border-0" style="height: 55px;">
                                        <option selected>Select Doctor</option>
                                        <option value="1">Doctor 1</option>
                                        <option value="2">Doctor 2</option>
                                        <option value="3">Doctor 3</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control bg-white border-0" placeholder="Your Name" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control bg-white border-0" placeholder="Your Email" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <input type="text"
                                            class="form-control bg-white border-0 datetimepicker-input"
                                            placeholder="Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="time" id="time" data-target-input="nearest">
                                        <input type="text"
                                            class="form-control bg-white border-0 datetimepicker-input"
                                            placeholder="Time" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Make An Appointment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Appointment End -->

    <!-- New Appointment start -->

    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2"
        >
          <div class="px-0 pt-4 pb-0 mt-3 mb-3">
            <form id="form">
              <ul id="progressbar">
                <li class="active" id="step1">
                  <strong>Step 1</strong>
                </li>
                <li id="step2"><strong>Step 2</strong></li>
                <li id="step3"><strong>Step 3</strong></li>
                <li id="step4"><strong>Step 4</strong></li>
              </ul>
              <div class="progress">
                <div class="progress-bar"></div>
              </div>
              <br />
              <fieldset>
                <h2>Enter your Details</h2>
                <div class="center1">
                <div class="col-12 col-sm-6">
                    <input type="text" class="form-control bg-white border border-dark" placeholder="First Name" style="height: 55px;" required>
                </div><br>
                <div class="col-12 col-sm-6">
                    <input type="text" class="form-control bg-white border border-dark" placeholder="Last Name" style="height: 55px;" required>
                </div><br>
                <div class="col-12 col-sm-6">
                    <input type="email" class="form-control bg-white border border-dark" placeholder="Your Email" style="height: 55px;" required>
                </div><br>
                <div class="col-12 col-sm-6">
                  <select>
                    <option>+91</option>
                    <option>+355</option>
                    <option>+213</option>
                    <option>+376</option>
                    <option>+244</option>
                    <option>+54</option>
                    <option>+374</option>
                    <option>+297</option>
                    <option>+247</option>
                    <option>+61</option>
                    <option>+43</option>
                    <option>+994</option>
                    <option>+973</option>
                    <option>+880</option>
                    <option>+375</option>
                    <option>+32</option>
                    <option>+501</option>
                    <option>+229</option>
                    <option>+975</option>
                    <option>+880</option>
                    </select>
                  <input type="phone" class="form-control bg-white border border-dark" placeholder="Phone Number" style="height: 55px;" required>
              </div><br>
              <div class="col-12 col-sm-6">
                <select class="form-control bg-white border border-dark" placeholder="Country" style="height:55px;" required>
                  <option>Gender</option>
                  <option>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                  </select>
              </div><br>
                <div class="col-12 col-sm-6">
                  <input type="date" class="form-control bg-white border border-dark" name="DOB" placeholder="DD-MM-YYYY" style="height: 55px;" required>
                </div><br>
                <div>
                  <textarea class="form-control bg-white border-dark" rows="5" placeholder="Address"></textarea>
                </div><br>
                <div>
                  
                  <input type="text" class="form-control bg-white border border-dark" placeholder="Postal code" style="height: 55px;" required>
                </div><br>
                <div>
                  
                  <select id="country" name="country" autocomplete="country" enterkeyhint="done" class="form-control bg-white border border-dark" placeholder="Country" style="height:55px; width: fit-content;" required>
                      <option></option>
                      <option value="AF">Afghanistan</option>
                      <option value="AX">Åland Islands</option>
                      <option value="AL">Albania</option>
                      <option value="DZ">Algeria</option>
                      <option value="AS">American Samoa</option>
                      <option value="AD">Andorra</option>
                      <option value="AO">Angola</option>
                      <option value="AI">Anguilla</option>
                      <option value="AQ">Antarctica</option>
                      <option value="AG">Antigua &amp; Barbuda</option>
                      <option value="AR">Argentina</option>
                      <option value="AM">Armenia</option>
                      <option value="AW">Aruba</option>
                      <option value="AC">Ascension Island</option>
                      <option value="AU">Australia</option>
                      <option value="AT">Austria</option>
                      <option value="AZ">Azerbaijan</option>
                      <option value="BS">Bahamas</option>
                      <option value="BH">Bahrain</option>
                      <option value="BD">Bangladesh</option>
                      <option value="BB">Barbados</option>
                      <option value="BY">Belarus</option>
                      <option value="BE">Belgium</option>
                      <option value="BZ">Belize</option>
                      <option value="BJ">Benin</option>
                      <option value="BM">Bermuda</option>
                      <option value="BT">Bhutan</option>
                      <option value="BO">Bolivia</option>
                      <option value="BA">Bosnia &amp; Herzegovina</option>
                      <option value="BW">Botswana</option>
                      <option value="BV">Bouvet Island</option>
                      <option value="BR">Brazil</option>
                      <option value="IO">British Indian Ocean Territory</option>
                      <option value="VG">British Virgin Islands</option>
                      <option value="BN">Brunei</option>
                      <option value="BG">Bulgaria</option>
                      <option value="BF">Burkina Faso</option>
                      <option value="BI">Burundi</option>
                      <option value="KH">Cambodia</option>
                      <option value="CM">Cameroon</option>
                      <option value="CA">Canada</option>
                      <option value="CV">Cape Verde</option>
                      <option value="BQ">Caribbean Netherlands</option>
                      <option value="KY">Cayman Islands</option>
                      <option value="CF">Central African Republic</option>
                      <option value="TD">Chad</option>
                      <option value="CL">Chile</option>
                      <option value="CN">China</option>
                      <option value="CX">Christmas Island</option>
                      <option value="CC">Cocos (Keeling) Islands</option>
                      <option value="CO">Colombia</option>
                      <option value="KM">Comoros</option>
                      <option value="CG">Congo - Brazzaville</option>
                      <option value="CD">Congo - Kinshasa</option>
                      <option value="CK">Cook Islands</option>
                      <option value="CR">Costa Rica</option>
                      <option value="CI">Côte d’Ivoire</option>
                      <option value="HR">Croatia</option>
                      <option value="CW">Curaçao</option>
                      <option value="CY">Cyprus</option>
                      <option value="CZ">Czechia</option>
                      <option value="DK">Denmark</option>
                      <option value="DJ">Djibouti</option>
                      <option value="DM">Dominica</option>
                      <option value="DO">Dominican Republic</option>
                      <option value="EC">Ecuador</option>
                      <option value="EG">Egypt</option>
                      <option value="SV">El Salvador</option>
                      <option value="GQ">Equatorial Guinea</option>
                      <option value="ER">Eritrea</option>
                      <option value="EE">Estonia</option>
                      <option value="SZ">Eswatini</option>
                      <option value="ET">Ethiopia</option>
                      <option value="FK">Falkland Islands (Islas Malvinas)</option>
                      <option value="FO">Faroe Islands</option>
                      <option value="FJ">Fiji</option>
                      <option value="FI">Finland</option>
                      <option value="FR">France</option>
                      <option value="GF">French Guiana</option>
                      <option value="PF">French Polynesia</option>
                      <option value="TF">French Southern Territories</option>
                      <option value="GA">Gabon</option>
                      <option value="GM">Gambia</option>
                      <option value="GE">Georgia</option>
                      <option value="DE">Germany</option>
                      <option value="GH">Ghana</option>
                      <option value="GI">Gibraltar</option>
                      <option value="GR">Greece</option>
                      <option value="GL">Greenland</option>
                      <option value="GD">Grenada</option>
                      <option value="GP">Guadeloupe</option>
                      <option value="GU">Guam</option>
                      <option value="GT">Guatemala</option>
                      <option value="GG">Guernsey</option>
                      <option value="GN">Guinea</option>
                      <option value="GW">Guinea-Bissau</option>
                      <option value="GY">Guyana</option>
                      <option value="HT">Haiti</option>
                      <option value="HM">Heard &amp; McDonald Islands</option>
                      <option value="HN">Honduras</option>
                      <option value="HK">Hong Kong</option>
                      <option value="HU">Hungary</option>
                      <option value="IS">Iceland</option>
                      <option value="IN">India</option>
                      <option value="ID">Indonesia</option>
                      <option value="IR">Iran</option>
                      <option value="IQ">Iraq</option>
                      <option value="IE">Ireland</option>
                      <option value="IM">Isle of Man</option>
                      <option value="IL">Israel</option>
                      <option value="IT">Italy</option>
                      <option value="JM">Jamaica</option>
                      <option value="JP">Japan</option>
                      <option value="JE">Jersey</option>
                      <option value="JO">Jordan</option>
                      <option value="KZ">Kazakhstan</option>
                      <option value="KE">Kenya</option>
                      <option value="KI">Kiribati</option>
                      <option value="XK">Kosovo</option>
                      <option value="KW">Kuwait</option>
                      <option value="KG">Kyrgyzstan</option>
                      <option value="LA">Laos</option>
                      <option value="LV">Latvia</option>
                      <option value="LB">Lebanon</option>
                      <option value="LS">Lesotho</option>
                      <option value="LR">Liberia</option>
                      <option value="LY">Libya</option>
                      <option value="LI">Liechtenstein</option>
                      <option value="LT">Lithuania</option>
                      <option value="LU">Luxembourg</option>
                      <option value="MO">Macao</option>
                      <option value="MG">Madagascar</option>
                      <option value="MW">Malawi</option>
                      <option value="MY">Malaysia</option>
                      <option value="MV">Maldives</option>
                      <option value="ML">Mali</option>
                      <option value="MT">Malta</option>
                      <option value="MH">Marshall Islands</option>
                      <option value="MQ">Martinique</option>
                      <option value="MR">Mauritania</option>
                      <option value="MU">Mauritius</option>
                      <option value="YT">Mayotte</option>
                      <option value="MX">Mexico</option>
                      <option value="FM">Micronesia</option>
                      <option value="MD">Moldova</option>
                      <option value="MC">Monaco</option>
                      <option value="MN">Mongolia</option>
                      <option value="ME">Montenegro</option>
                      <option value="MS">Montserrat</option>
                      <option value="MA">Morocco</option>
                      <option value="MZ">Mozambique</option>
                      <option value="MM">Myanmar (Burma)</option>
                      <option value="NA">Namibia</option>
                      <option value="NR">Nauru</option>
                      <option value="NP">Nepal</option>
                      <option value="NL">Netherlands</option>
                      <option value="NC">New Caledonia</option>
                      <option value="NZ">New Zealand</option>
                      <option value="NI">Nicaragua</option>
                      <option value="NE">Niger</option>
                      <option value="NG">Nigeria</option>
                      <option value="NU">Niue</option>
                      <option value="NF">Norfolk Island</option>
                      <option value="KP">North Korea</option>
                      <option value="MK">North Macedonia</option>
                      <option value="MP">Northern Mariana Islands</option>
                      <option value="NO">Norway</option>
                      <option value="OM">Oman</option>
                      <option value="PK">Pakistan</option>
                      <option value="PW">Palau</option>
                      <option value="PS">Palestine</option>
                      <option value="PA">Panama</option>
                      <option value="PG">Papua New Guinea</option>
                      <option value="PY">Paraguay</option>
                      <option value="PE">Peru</option>
                      <option value="PH">Philippines</option>
                      <option value="PN">Pitcairn Islands</option>
                      <option value="PL">Poland</option>
                      <option value="PT">Portugal</option>
                      <option value="PR">Puerto Rico</option>
                      <option value="QA">Qatar</option>
                      <option value="RE">Réunion</option>
                      <option value="RO">Romania</option>
                      <option value="RU">Russia</option>
                      <option value="RW">Rwanda</option>
                      <option value="WS">Samoa</option>
                      <option value="SM">San Marino</option>
                      <option value="ST">São Tomé &amp; Príncipe</option>
                      <option value="SA">Saudi Arabia</option>
                      <option value="SN">Senegal</option>
                      <option value="RS">Serbia</option>
                      <option value="SC">Seychelles</option>
                      <option value="SL">Sierra Leone</option>
                      <option value="SG">Singapore</option>
                      <option value="SX">Sint Maarten</option>
                      <option value="SK">Slovakia</option>
                      <option value="SI">Slovenia</option>
                      <option value="SB">Solomon Islands</option>
                      <option value="SO">Somalia</option>
                      <option value="ZA">South Africa</option>
                      <option value="GS">South Georgia &amp; South Sandwich Islands</option>
                      <option value="KR">South Korea</option>
                      <option value="SS">South Sudan</option>
                      <option value="ES">Spain</option>
                      <option value="LK">Sri Lanka</option>
                      <option value="BL">St Barthélemy</option>
                      <option value="SH">St Helena</option>
                      <option value="KN">St Kitts &amp; Nevis</option>
                      <option value="LC">St Lucia</option>
                      <option value="MF">St Martin</option>
                      <option value="PM">St Pierre &amp; Miquelon</option>
                      <option value="VC">St Vincent &amp; Grenadines</option>
                      <option value="SR">Suriname</option>
                      <option value="SJ">Svalbard &amp; Jan Mayen</option>
                      <option value="SE">Sweden</option>
                      <option value="CH">Switzerland</option>
                      <option value="TW">Taiwan</option>
                      <option value="TJ">Tajikistan</option>
                      <option value="TZ">Tanzania</option>
                      <option value="TH">Thailand</option>
                      <option value="TL">Timor-Leste</option>
                      <option value="TG">Togo</option>
                      <option value="TK">Tokelau</option>
                      <option value="TO">Tonga</option>
                      <option value="TT">Trinidad &amp; Tobago</option>
                      <option value="TA">Tristan da Cunha</option>
                      <option value="TN">Tunisia</option>
                      <option value="TR">Turkey</option>
                      <option value="TM">Turkmenistan</option>
                      <option value="TC">Turks &amp; Caicos Islands</option>
                      <option value="TV">Tuvalu</option>
                      <option value="UG">Uganda</option>
                      <option value="UA">Ukraine</option>
                      <option value="AE">United Arab Emirates</option>
                      <option value="GB">United Kingdom</option>
                      <option value="US">United States</option>
                      <option value="UY">Uruguay</option>
                      <option value="UM">US Outlying Islands</option>
                      <option value="VI">US Virgin Islands</option>
                      <option value="UZ">Uzbekistan</option>
                      <option value="VU">Vanuatu</option>
                      <option value="VA">Vatican City</option>
                      <option value="VE">Venezuela</option>
                      <option value="VN">Vietnam</option>
                      <option value="WF">Wallis &amp; Futuna</option>
                      <option value="EH">Western Sahara</option>
                      <option value="YE">Yemen</option>
                      <option value="ZM">Zambia</option>
                      <option value="ZW">Zimbabwe</option>
                  </select> 
                </div>
                </div>
                <input
                  type="button"
                  name="next-step"
                  class="next-step"
                  value="Next Step"
                />
              </fieldset>
              <fieldset>
                <div class="col-12 col-sm-6">
                  <select class="form-control bg-white border border-dark" placeholder="Country" style="height:55px; width: 300px;" required>
                    <option>Selct your Hospital</option>
                    <option>Hospital-1</option>
                    <option>Hospital-2</option>
                    <option>Hospital-3</option>
                    </select>
                </div><br>
                <div class="col-12 col-sm-6">
                  <select class="form-control bg-white border border-dark" placeholder="Country" style="height:55px; width: 300px;" required>
                    <option>Selct your Doctor</option>
                    <option>Doctor-1</option>
                    <option>Doctor-2</option>
                    <option>Doctor-3</option>
                    </select>
                </div>

                <input
                  type="button"
                  name="next-step"
                  class="next-step"
                  value="Next Step"
                />
                <input
                  type="button"
                  name="previous-step"
                  class="previous-step"
                  value="Previous Step"
                />
              </fieldset>
              <fieldset>
                <h2>Reason for your appointment</h2><br>
                <textarea class="form-control bg-white border-dark" rows="5" placeholder="Reason"></textarea>
                <input
                  type="button"
                  name="next-step"
                  class="next-step"
                  value="Final Step"
                />
                <input
                  type="button"
                  name="previous-step"
                  class="previous-step"
                  value="Previous Step"
                />
              </fieldset>
              <fieldset>
                <div class="finish">
                  <h2 class="text text-center">
                    <strong>FINISHED</strong>
                  </h2>
                </div>
                <input
                  type="submit"
                  name="next-step"
                  class="next-step"
                  value="submit"
                />
                <input
                  type="button"
                  name="previous-step"
                  class="previous-step"
                  value="Previous Step"
                />
                
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/js/appointment.js"></script>

    <!-- New Appointment End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light mt-5 py-5">
      <div class="container py-5">
          <div class="row g-5">
              <div class="col-lg-3 col-md-6">
                  <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                      Get In Touch</h4>
                  <p class="mb-4"></p>
                  <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>IIITKottayam, Kottayam
                      district, Kerala, INDIA</p>
                  <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>info@example.com</p>
                  <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>+91 9182450987</p>
              </div>
              <div class="col-lg-3 col-md-6">
                  <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                      Team members</h4>
                  <div class="d-flex flex-column justify-content-start">
                      <a class="text-light mb-2"><i class="fa fa-angle-right me-2"></i>J.T.Karthikeya</a>
                      <a class="text-light mb-2"><i class="fa fa-angle-right me-2"></i>Y.Vijaya Vardhan</a>
                      <a class="text-light mb-2"><i class="fa fa-angle-right me-2"></i>P.S.D Suhash</a>
                      <a class="text-light mb-2"><i class="fa fa-angle-right me-2"></i>M.V.Rahul babu</a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                      Popular Links</h4>
                  <div class="d-flex flex-column justify-content-start">
                      <a class="text-light mb-2" href="{% url 'indexpatient' %}"><i class="fa fa-angle-right me-2"></i>Home</a>
                      <a class="text-light mb-2" href="{% url 'pabout' %}"><i class="fa fa-angle-right me-2"></i>About Us</a>
                      <a class="text-light mb-2" href="{% url 'pservice' %}"><i class="fa fa-angle-right me-2"></i>Our Services</a>
                      <a class="text-light mb-2" href="{% url 'pdoctors' %}"><i class="fa fa-angle-right me-2"></i>Meet The Team</a>
                      <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Latest Blog</a>
                      <a class="text-light" href="#"><i class="fa fa-angle-right me-2"></i>Contact Us</a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                      Newsletter</h4>
                  <form action="">
                      <div class="input-group">
                          <input type="text" class="form-control p-3 border-0" placeholder="Your Email Address">
                          <button class="btn btn-primary">Sign Up</button>
                      </div>
                  </form>
                  <h6 class="text-primary text-uppercase mt-4 mb-3">Follow Us</h6>
                  <div class="d-flex">
                      <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i
                              class="fab fa-twitter"></i></a>
                      <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i
                              class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i
                              class="fab fa-linkedin-in"></i></a>
                      <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i
                              class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container-fluid bg-dark text-light border-top border-secondary py-4">
      <div class="container">
          <div class="row g-5">
              <div class="col-md-6 text-center text-md-start">
                  <p class="mb-md-0">&copy; <a class="text-primary" href="#">Medicure</a>. All Rights Reserved.</p>
              </div>
          </div>
      </div>
  </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/lib/easing/easing.min.js"></script>
    <script src="/static/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/static/js/main.js"></script>
  </body>
</html>
